*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: Raleway, sans-serif;
  text-align: center;
  background: #1b1523;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-top: 20px;
  transition: .3s ease;
}

button:hover {
  background: #c23866;
  color: #fff;
}

.cards__list {
  display: grid;
  gap: clamp(.5rem, 2vw, 1rem);
  grid-template-columns: repeat(4, minmax(50px, 150px));
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-inline: 20px;
}

.card {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.card__image {
  border-radius: 5px;
  border: 2px solid #fff;
  transition: .3s ease;
}

.card__image--front {
  position: absolute;
  transform: rotateY(90deg);
  z-index: -1;
}

.card--flipped,
.disabled {
  pointer-events: none;
}

.card__image--back {
  transition-delay: .3s;
}

.card--flipped .card__image--back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.card--flipped .card__image--front {
  transform: rotateY(0);
  transition-delay: .3s;
}



img {
  width: 100%;
  display: block;
}

p {
  font-size: 1.4rem;
}